.portfolio
  background portfolio-item_bg
  padding-bottom 80px
  padding-top 45px

.portfolio__works
  display flex
  flex-flow column wrap
  margin 0 auto
  width 300px

.portfolio__item
    margin-bottom 15px

.portfolio__img
  height 201px
  overflow hidden
  width 300px

.portfolio__title
  box-shadow 0 3px 5px rgba(0, 0, 0, 0.25)
  color grey_light
  font-family font_sans-serif
  font-size 18px
  font-weight 600
  padding 26px 35px

.portfolio__show-more
  text-align center

@media (min-width: tablet)
  .portfolio__works
    flex-flow row wrap
    width 620px

  .portfolio__item
    margin-right 15px

  .portfolio__item:nth-child(2n)
    margin-right 0

  .portfolio__img
    height 204px
    width 302px

@media (min-width: screen)
  .portfolio__works
    width 1004px

  .portfolio__item:nth-child(2n)
    margin-right 15px

  .portfolio__item:nth-child(3n)
    margin-right 0

  .portfolio__img
    height 225px
    width 324px

@media (min-width: screen_large)
  .portfolio__works
    width 1170px

  .portfolio__item:nth-child(3n)
    margin-right 15px

  .portfolio__img
    height 281px
    width 380px
