section.portfolio
  .wrapper
    .title PORTFOLIO
    ul.list.menu.menu_portfolio
      li
        a.link.link_portfolio(href="#") ALL
      li
        a.link.link_portfolio(href="#") ILLUSTRATIONS
      li
        a.link.link_portfolio(href="#") LOGO
      li
        a.link.link_portfolio(href="#") BRANDING
      li
        a.link.link_portfolio(href="#") WEB DESIGN
    .portfolio__works
      .portfolio__item
        .portfolio__img
          img(src="img/portfolio-agency.jpg")
        .portfolio__title Agency - PSD Template
      .portfolio__item
        .portfolio__img
          img(src="img/portfolio-vodka.jpg")
        .portfolio__title Pure Vodka Branding
      .portfolio__item
        .portfolio__img
          img(src="img/portfolio-web.jpg")
        .portfolio__title Web Design
      .portfolio__item
        .portfolio__img
          img(src="img/portfolio-everest.jpg")
        .portfolio__title Everest Logo
      .portfolio__item
        .portfolio__img
          img(src="img/portfolio-poster.jpg")
        .portfolio__title Poster Design
      .portfolio__item
        .portfolio__img
          img(src="img/portfolio-illustration.jpg")
        .portfolio__title illustration
      a.link.link_show-more.button.button_show-more(href="#") SHOW MORE