section.services
  .wrapper
    .title OUR SERVICES
    .services_wrap
      .service
        .service__icon.icon_logo-design
        .service__title LOGO DESIGN
        .service__description Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
      .service
        .service__icon.icon_web-design
        .service__title WEB DESIGN
        .service__description Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
      .service
        .service__icon.icon_branding
        .service__title BRANDING
        .service__description Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
      .service
        .service__icon.icon_illustrations
        .service__title ILLUSTRATIONS
        .service__description Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.