.button
  background blue
  border-radius 64px
  box-shadow 0 3px 5px rgba(0, 0, 0, 0.25)
  color white
  font-family font_sans-serif
  font-size 25px
  font-weight 600
  padding 15px 60px

.button_show-more
  display inline-block
  margin-top 50px
