.link
  text-decoration none

.link:hover
  text-decoration none

.link_header
  color white
  display block
  font-family font_sans-serif
  font-size 14px
  font-weight 600
  opacity 0.69

.link_header:hover
  color blue

.link_portfolio
  color grey_light
  font-family font_sans-serif
  font-size 14px
  font-weight 400
  margin 0 20px

.link_portfolio:hover
  color blue

.link_portfolio-is-checked
  color blue
  border-bottom solid 1px blue
  outline none

@media (min-width: screen)
  .link_header
    margin-left 50px
