.link
  text-decoration none

.link:hover
  text-decoration underline

.link_portfolio
  color grey_light
  font-family font_sans-serif
  font-size 14px
  font-weight 400
  margin 0 20px

.link_portfolio:hover
  color blue
  text-decoration none

.link_show-more:hover
  text-decoration none
