.menu
  display flex
  flex-flow column nowrap

.menu_portfolio
  margin-bottom 50px
  margin-top 90px
  justify-content center
  text-align center

@media (min-width: tablet)
  .menu
    flex-flow row nowrap