.title
  color grey
  font-family font_serif
  font-size 22px
  font-weight 700
  position relative
  text-align center

.title::after,
.title:after
  content ""
  background blue
  bottom -25px
  height 4px
  left 50%
  margin-left -73px
  position absolute
  width 147px

@media (min-width: tablet)
  .title
    font-size 32px

@media (min-width: screen)
  .title
    font-size 42px