// Colors
// ______

// Common colors

blue = #00a5ff
grey = #3a3f4b
grey_light = #999
white = #fff

section_bg = #f5f6f8

// Sections colors

portfolio-item_bg = #f4f5f9
feedback_bg = #3b404c

// Font
// ____

font_sans-serif = "Open Sans", Roboto, Arial, sans-serif
font_serif = Lora, "Times New Roman", serif

// Resolution
// __________

tablet = 40em
screen = 64em
screen_large = 90em