.brands
  padding 60px 0 100px 0

.brands_wrap
  align-items center
  display flex
  flex-flow row wrap
  margin-top 100px
  justify-content space-between

.brands_image
  margin 25px auto

// @media (min-width: tablet)
//   .brands_image
//     margin 25px
