section.brands
  .wrapper
    .title RECENT BRANDS WE'VE WORKED WITH
    .brands_wrap
      img.brands_image(src="img/brands_bakery.png")
      img.brands_image(src="img/brands_lavaleir.png")
      img.brands_image(src="img/brands_harvest.png")
      img.brands_image(src="img/brands_landlock.png")
      img.brands_image(src="img/brands_spectrum.png")
      img.brands_image(src="img/brands_homeenergy.png")