// Common style
// ____________

@import "blocks/common/var.styl"
@import "blocks/common/sprite.styl"
@import "blocks/common/page.styl"
@import "blocks/common/wrapper.styl"
@import "blocks/common/link.styl"
@import "blocks/common/list.styl"
@import "blocks/common/menu.styl"
@import "blocks/common/button.styl"
@import "blocks/common/icon.styl"
@import "blocks/common/title.styl"
@import "blocks/common/center.styl"
@import "blocks/common/logotype.styl"
@import "blocks/common/burger.styl"

// Section style
// _____________

@import "blocks/header/header.styl"
@import "blocks/services/services.styl"
@import "blocks/portfolio/portfolio.styl"