header.header
  .wrapper.wrapper_header
    .header_wrap
      .logo
        img.logo__img(src="img/logo.png")
      .header__menu
        //- .button_mobile#button_mobile
        .burger
        //- .menu_responsive
        ul.list.menu.header__menu_list
          li.menu__item_header
            a.link.link_header(href="") Services
          li.menu__item_header
            a.link.link_header(href="") Portofolio
          li.menu__item_header
            a.link.link_header(href="") Testimonials
          li.menu__item_header
            a.link.link_header(href="") About
          li.menu__item_header
            a.link.link_header(href="") Contact
    .header__title Velox One Page Template
    .header__description Clean, Responsive, customizable one page template
    div.center
      a.link.button.button_header(href="") Get Started Now
